/* 
colores:
principal #018080
sec = #B97039
ter = #D6B170
*/
.company-header {
    font-weight: bold;
}

.bg-primary {
    background-color: #018080!important;
    color: white;
}
.btn-primary {
    background-color: #018080;
    color: white;
}
.autocomplete-suggestions {
    border: 1px solid #ccc;
    max-height: 200px;
    overflow-y: auto;
    position: absolute;
    background-color: white;
    width: 300px;
    z-index: 10;
}

.autocomplete-suggestion {
    padding: 8px;
    cursor: pointer;
}

.autocomplete-suggestion:hover {
    background-color: #f0f0f0;
}