/* 
colores:
principal #018080
sec = #B97039
ter = #D6B170
*/
.company-header {
    font-weight: bold;
}

.bg-primary {
    background-color: #018080!important;
    color: white;
}
.btn-primary {
    background-color: #018080;
    color: white;
}